html {
  box-sizing: border-box;

  background-color: #9f221b;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  margin: 0 auto;
}

.planet-wrapper {
  margin: 8em 0;
  position: relative;
}

.planet {
  width: 400px;
}

.rocket {
  width: 40px;
  position: absolute;
  left: calc(50% - 20px);
  top: -40px;
  animation: orbit 5s linear infinite;
  transform-origin: center 240px;
}

@keyframes orbit {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }

}
